<a href="https://colab.research.google.com/github/onkarkadam158/Python-College-Assignments/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment1**

1. Create a list of different data fields and use appropriate Python data types to represent each of them. (Case study: - You are required to design the data structure to display the individual player stats for cricket players. A player may have represented more than one team and may have played in more than one format such as Test, ODI and T20)

**Team1 Batting Scores**

In [0]:
import pandas as pd
print("Enter No.of batsmen played")
No = int(input())
team1_batting = {}
print("Enter Name, runs scored, Balls faced, Sixers , Fours, Strike Rate respectively ")
for i in range (0 ,No):
  name = str(input("Name:"))
  score = []
  runs = int(input("Runs Scored:"))
  score.append(runs)

  ball_faced = int(input("Ball faced:"))
  score.append(ball_faced)

  six = int(input("Sixers:"))
  score.append(six)

  fours = int(input("Fours:"))
  score.append(fours)

  st_rate = float(input("Strike Rate"))
  score.append(st_rate)

  team1_batting[name] = score  ;

#print(team1_batting)
df = pd.DataFrame(team1_batting , index= ['Runs','Balls_Faced' , 'Sixers','Fours','Strike_Rate'])
df1=df.transpose()
df1


**Team1 Bowling score**

In [0]:
print("Enter No. of bowlers bowled")
No1 = int(input())
team1_bowling = {}
print("Enter Name , wickets he had taken , balls bowled, runs given respectively ")
for i in range (0 ,No1):
  name = str(input("Name:"))
  score = [] 

  wickets = int(input("Wickets:"))
  score.append(wickets)

  ball_bowled = int(input("Balls Bowled:"))
  score.append(ball_bowled)

  runs_given = int(input("Runs Given"))
  score.append(runs_given)

  team1_bowling[name] = score ;

df = pd.DataFrame(team1_bowling , index= ['Wickets','Balls_Bowled' , 'Runs_Given'])
df1=df.transpose()
df1

Enter No. of bowlers bowled
1
Enter Name , wickets he had taken , balls bowled, runs given respectively
Name:asa
Wickets:12
Balls Bowled:12
Runs Given12

     Wickets  Balls_Bowled  Runs_Given
asa       12            12          12

**Team 2 Scores**

**Team 2 Batting Score**

In [0]:
print("Enter No.of batsmen played")
No = int(input())
team2_batting = {}
print("Enter Name, runs scored, Balls faced, Sixers , Fours, Strike Rate respectively ")
for i in range (0 ,No):
  name = str(input("Name:"))
  score = []
  runs = int(input("Runs Scored:"))
  score.append(runs)

  ball_faced = int(input("Ball faced:"))
  score.append(ball_faced)

  six = int(input("Sixers:"))
  score.append(six)

  fours = int(input("Fours:"))
  score.append(fours)

  st_rate = float(input("Strike Rate"))
  score.append(st_rate)

  team2_batting[name] = score  ;

df = pd.DataFrame(team2_batting , index= ['Runs','Balls_Faced' , 'Sixers','Fours','Strike_Rate'])
df1=df.transpose()
df1

Enter No.of batsmen played
1
Enter Name, runs scored, Balls faced, Sixers , Fours, Strike Rate respectively
Name:qw
Runs Scored:12
Ball faced:12
Sixers:12
Fours:`1

ValueError: ignored

**Team 2 Bowling**

In [0]:
print("Enter No. of bowlers bowled")
No1 = int(input())
team2_bowling = {}
print("Enter Name , wickets he had taken , balls bowled, runs given respectively ")
for i in range (0 ,No1):
  name = str(input("Name:"))
  score = [] 

  wickets = int(input("Wickets:"))
  score.append(wickets)

  ball_bowled = int(input("Balls Bowled:"))
  score.append(ball_bowled)

  runs_given = int(input("Runs Given"))
  score.append(runs_given)

  team2_bowling[name] = score ;

df = pd.DataFrame(team2_bowling , index= ['Wickets','Balls_Bowled' , 'Runs_Given'])
df1=df.transpose()
df1

Enter No. of bowlers bowled
1
Enter Name , wickets he had taken , balls bowled, runs given respectively
Name:wdq
Wickets:12
Balls Bowled:12
Runs Given12

     Wickets  Balls_Bowled  Runs_Given
wdq       12            12          12